*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*html,body {
	width: 100%;
	height: 100%;
}*/

header{
	background-image:url(coworking-vs-office_d88e4f0344a8f3f0bf6d644a30195abc.jpg);
	height:95vh;
	background-size: cover;
	background-position: center;
}

#main {
	background:blue;
	width: 100%;
	height:60px;
}

#space{
	width:10%;
	float:left;
}

#support{
	width:22.5%;
	float:left;

}

#number{
	width:22.5%;
	float:left;
}
#addrs{
	width:22.5%;
	float:left;
}
#time{
	width:22.5%;
	float:left;
}
main .logo{
	float:left;
}

.logo{
	width:100%;
	height: 20px;
	text-decoration-color: white;
	text-align: left;
	background-position: left;
	background-size: cover;
	margin-left: 35px;
	margin-top: -10px;

}

#empty{
	background:white;
	width:5%;
	float:left;
}

#mmain {
	background:white;
	width:5;
	float:left;
}
#braintech{
	background:white;
	width:40%;
	float:left;
}


mmain .heading{
	float:left;
}

.heading{
	width: 30px;
	height: 20px;
	font-size: 40;
	background-position: left;
	background-size: cover;
	margin-left: 60px;
	margin-top: -30px;

}


#gap{
	background:white;
	width:6%;
	float:left;

}
#home{
	background:white;
	width: 6%;
	float:left;

}

#about{
    background:white;
	width: 6%;
	float:left;
}

#services{
	background:white;
	width: 6%;
	float:left;

}

#portfolio{
	background:white;
	width: 6%;
	float:left;

}

#team{
	background:white;
	width: 6%;
	float:left;
}
#blog{
	background:white;
	width: 6%;
	float:left;
}
#content{
	background:white;
	width: 6%;
	float:left;
}

it.colum{
	float:left;
}

.colum{
	width: 25px;
	height: 20px;
	font-size: 40;
	background-position: left;
	background-size: cover;
	margin-left: 200px;
	margin-top:500px;
	



}

.it{
	background-color: whitesmoke;
	width:20%;
	float:left;
	margin-left: 20px;
	border-color:black;
	border-radius: 5px;

}

/*abt.aabout{
	width:100%
	height:100%;
	float:left;
	background: white;

}*/
.aabout{
	display:flex;

	font-size: 40;

	/*background-size: cover;*/
	background-color: white;
    
	margin-top:200px;
	width: 100%;
}
/*#a{
	float:left;
	background:white;
	width:100%;   
}*/
.abt{
	float:left;
	margin-left:10px;
	background:white;
    width:100%;
    margin-top:20px;


}


.butn{
	margin-top: 10px;
	margin-right:700px;
	background-color: blue;
    margin-left: 500px;
	color:white;
	width:10%;
}

ii.services{
	width:100%
	
	

	background: white;
}
.services{
	background: white;
	font-size: 40;
	text-align: center;
	background-size: cover;
	margin-left: 200px;
	/*margin-top:400px;*/
	width: 100%;

}
#ii{
	width:100%;
	float:left;
	padding-right: 200px;
}
.is{
	text-align: center;
    
    width:100%;
	float:left;
	padding-right: 200px;
	padding-bottom: 30px;

}
.def{
	background-color:  whitesmoke;
	width:25%;
	float:left;
	margin-left: 20px;
	border:black;

}
#sd{background: white;
	width:30%;
	float:left;
	}
#wd{background: white;
	width:30%;
	float:left;
	
}
#as{background: white;
	width:30%;
	float:left;
	}
#cd{background: white;
	width:30%;
	float:left;
	}
#pd{background: white;
	width:30%;
	float:left;
	}
#dc{background: white;
	width:30%;
	float:left;
	}

#vas{
	margin-top: 10px;
	
	margin-left:500px;
	background-color: blue;
	border-color:red;
	color:white;
	float:left;
	width:10%;
}
bgimg.big image{
	width:100%
	height:100%;
	float:right;
	background-color: whitesmoke;
}
.big image{
	background-color: whitesmoke;
	font-size: 40;
	background-position: left;
	background-size: cover;
	margin-left: 200px;
	margin-top:400px;
	width: 100%;
}
#bgimg{
	background-color: white;
	width:100%;
	float:left;

}

#wrk{
	background-color: blue;
	width:20%;
	height:55%;
	margin-left:200px;
	float:left;
}
.fst{
	background-color:  whitesmoke;
	width:25%;
	float:left;
	margin-left: 20px;
	border:black;


}
#snd{background-color: white;
	width:30%;
	float:left;}
#trd{background-color: white;
	width:30%;
	float:left;}
#four{background-color: white;
	width:30%;
	float:left;}

ofr.offer{
	width:100%
	height:100%;
	float:left;



}
.offer{
    background-color: white;
	
	background-position: left;

	margin-left: 60px;
	margin-top:400px;
	width: 100%;
}
}

#ofr{
	background-color: white;
	width:100%;
	float:right;
}
#price{
	background-color: white;
	width:100%;
	float:right;

}
#consult{
	background-color: white;
	width:100%;
	float:right;
}
#cust{
	background-color: white;
	width:100%;
	float:right;
}
#blogs{
	background-color: white;
	width:100%;
	float:right;
}
#maps{
	background-color: white;
	width:100%;
	float:right;
}
#last{
	background-color: white;
	width:100%;
	float:right;
}